@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <form action="/hsk1_add" method="post">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <input id="id" name="id" />
                    <input id="level" name="level"/>
                    <input id="word" name="word"/>
                </div>

                <div class="col-sm-6">
                    <input id="pronunciation" name="pronunciation" />
                    <input id="definition" name="definition" />
                    <input id="mp3" name="mp3" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <input type="submit" value="提交">
                </div>
            </div>
            </form>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/vocabulary/hsk1/hsk1_info.js"></script>
@}
